window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

// Steam: open most windows floating, except the main client window.
window-rule {
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// Place Noctalia's wallpaper layer under windows in the backdrop.
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
